.success-msg {
    padding: 12px;
    margin: 4px;
    background-color: rgb(175, 255, 175);
    color: rgb(41, 133, 53);
    border: none;
    border-radius: 4px;
}

.error-msg {
    padding: 12px;
    margin: 4px;
    background-color: rgb(255, 177, 177);
    color: rgb(253, 81, 81);
    border: none;
    border-radius: 4px;
}