.Navigation {
    display: flex;
    background-color: rgb(250, 72, 18);
    color: white;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    min-height: 50px;
    border: 2px black solid;
    border-radius: 15px;
    margin: 5px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

ul li {
    list-style-type: none;
}

.CartItem{
    display: flex;
    justify-content: space-between;
    width: 20%;
}