.Navigation {
  display: flex;
  width: 100%;
  background-color: rgb(155, 163, 163);
  color: rgb(56, 52, 52);
  font-weight: 400;
  justify-items: center;
}
.Widgets{
  display: flex;
  flex-direction: row;
  gap: 45px;
}


.List-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
}

.btn{
  text-transform: uppercase;
  font-size: 15px;
  max-height: 80px;
  background: none;
  color: rgb(39, 39, 39);
}


