/* CART BUTTONS */
.containerCartButtons {
    width: 98%;
    height: auto;
    margin: 0 1%;
    display: flex;
    justify-content: space-between;
}
.continuarCompra {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.finalizarCompra {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
/* INDIVIDUAL CART PRODUCT */
.CartContainer {
    width: 98%;
    margin: 3em 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
.CartProduct {
    overflow: hidden;
    width: 92%;
    max-height: 60rem;
    margin: 4%;
    box-shadow: 0 2px 20px rgb(172, 172, 172);
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}
.CardContainer {
    width: 98%;
    margin: 3em 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
.CardProduct {
    overflow: hidden;
    width: 92%;
    max-height: 40rem;
    margin: 4%;
    box-shadow: 0 2px 20px rgb(172, 172, 172);
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}
.CardImg {
    height: 200px;
    margin: 10px 20%;
    max-width: 60%;
    text-align: center;
}
.CardTitle {
    display: flex;
    justify-content: center;
}
.CardDescription {
    width: auto;
    height: 80px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}
.CardPrice {
    background-color: rgb(245, 245, 245);
    padding: 5px;
    text-transform: uppercase;
}

.ItemCounter {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 4% 10%;
}
.CardQtyContainer {
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100%;
    border: none;
    justify-content: center;
}
.CardQty {
    margin: 6px;
}
.ItemCounterBtn {
    border-radius: 5em;
}
.CardButton {
    width: 90%;
    margin: 3px 5%;
    margin-top: -2px;
}