.App {
  background-color: rgb(236, 236, 236);
  width: 100%;
  min-height: 80em;
  margin-top: 5em;
  margin-bottom: 10px;
  padding: 2px;
}

.Link {
  text-decoration: none;
}
/***********************************************/
/******************** VIEWS ********************/
/***********************************************/
.h1NavBar {
  width: 16%;
  height: 60px;
  margin: 15px 42%;
  background-color: rgb(202, 202, 202);
  border: none;
  border-radius: 8px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pAlerta {
  width: 30%;
  height: 25px;
  padding: 20px;
  margin: 10px 35%;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAddProduct {
  text-decoration: none;
  color: white;
  margin: 1em;
  margin-bottom: 300px;
}

/************************* HOME *************************/
.homeLogoContainer {
  width: 80%;
  height: auto;
  margin: 0 10%;
}
.homeLogo {
  width: 20%;
  height: auto;
  padding: 0 2%;
  margin: 0 40%;
  align-items: center;
}

/*********************** PRODUCTOS ***********************/
.WaitMsg {
  width: 170px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 270;
  color: rgb(41, 41, 41);
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
}
/********************** INFORMACION **********************/
.infoAtico {
  width: 60%;
  margin: 100px 20%;
  height: 300px;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 300;
}
/*********************** CONTACTO ************************/

/*****************************************************/
/*********************** WIDGETS *********************/
/*****************************************************/

/********************** SIGNUPLOGIN **********************/

/************************* CART **************************/
.EmptyCart {
  width: 40%;
  margin: 10em 30%;
  padding: 10px;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 270;
  color: rgb(41, 41, 41);
  background-color: rgb(223, 223, 223);
  border-radius: 4px;
}
.SummaryCart {
  width: 40%;
  height: 220px;
  align-items: center;
  margin: 10px 30%;
  padding: 10px 10px;
  border:  0.5px thin black;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}
/************************* ERROR **************************/
.Error404 {
  width: 60%;
  height: auto;
  margin: 20%;
  align-items: center;
  text-align: center;
}